/* ----------Styl ogólny---------- */
:root {
    --primary-color: #585c68;
}
.fa-my-class{
    font-size:0.3rem;
    position: relative;
    bottom: 0.2rem;
    padding:0 0.2rem;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #d1d1d1;
}

/* --------- Header-ns - Początkowy styl nagłówka --------- */
header > hr
{
    width: 80%;
}
#dynamic-header {
    position:sticky;
    top: 0;
    z-index: 1000;
    background-color:var(--primary-color);
    transition: all 0.3s ease-in-out;
    padding: 20px 0;
    width: 100%;   
}
/* --------- Header-s styl nagłówka skrolowany --------- */
#dynamic-header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
}

nav .menu-header {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
/*
nav ul.menu li {
    margin: 0 15px;
}

nav ul.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav ul.menu li a:hover {
    color: #f0a500;
}
*/

/* --------- Logo ---------*/
#Logolink{
    display: block;
    text-align: center;
    
}

/* --------- Menu nawigacyjne główne ---------*/

nav .tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}


/*
nav .hamburger {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}*/

/* --------- Baner ---------- */
.baner{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url(images/baner.jpg) no-repeat;
    background-size: cover;
    min-height:600px;
    display: flex;
    align-items: center;
}
.baner .container{
    padding: 1rem;
}
.baner h1{
    color:white;
    font-size: 4rem;
    font-weight: 800;
}
.baner h3{
    color:white;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* --------- Dropdown menu - OBOZY --------- */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    padding: 10px 20px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.dropdown-button:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ccc;
}

.dropdown-content button {
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-content button:hover {
    background-color: #f4f4f4;
}

/* ----------Wyświetlanie menu po najechaniu---------- */
.dropdown:hover .dropdown-content {
    display: block;
}

/* ----------Styl galerii---------- */
.gallery {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* ----------Strzałki do zmiany zdjęć---------- */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #585c6896;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.arrow:hover {
    background-color: #585c68;
}

/* --------- Efekty przejścia zdjęć --------- */
.fade-in {
    animation: fadeIn 1.0s ease-in-out;
}
/* --------- Sekcja - Nida ---------- */ 
.nida-opis {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}
/* --------- Sekcja - Klimkowka ---------- */ 
.klimkowka-opis {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}
/* --------- Sekcja - Sprzet ---------- */ 
.sprzet-opis {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}
/* --------- Sekcja - O nas ---------- */ 
.onas-opis {
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}

/* --------- Footer ---------- */
footer{
    background:var(--primary-color);
    padding:2rem 0;
    color:white;
    text-align: center;
}
footer .menu a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding:0 0.4rem;
}
footer .social{
    margin: 1.5rem 0;
}
footer .social a{
    color:#ccc;
    letter-spacing: 1rem;
}
footer .copyright a{
    color:var(--kolorGlowny);
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*@media screen and (max-width: 768px) {
    nav .menu {
        display: none;
        flex-direction: column;
        gap: 0;
        background: var(--primary-color);
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
    }

    nav .hamburger {
        display: block;
    }

    nav .menu.open {
        display: flex;
    }
}*/